/*NOTE: Specialization styles found at the bottom of the file*/
/*Added a figure and table number correct test that should be removed once Jorsek implments their fix*/

nav, .shortdesc, .coverPage-title {
    display: none;
}

article {
    font-family: "Century Schoolbook";
    font-size: 10pt;
}

p {
    margin: 0pt;
}

.topictitle1 {
    font-family: Arial;
    font-size: 20pt;
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 24pt;
    margin-bottom: 12pt;
}

.topictitle2 {
    font-family: Arial;
    font-size: 13pt;
    margin-top: 15pt;
    margin-bottom: 0pt;
    page-break-after: avoid;
}

.topictitle3 {
    font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
    font-style: italic;
}

div.body {
    page-break-before: avoid;
}

.note {
    font-style: italic;
    margin-top: 6pt;
}

img {
    prince-image-resolution: auto;
}

figure {
    display: table;
    page-break-inside: avoid;
    margin-left: auto;
    margin-right: auto;
}

figure.float-right {
    float: right;
    margin: 0.25in;
    margin-right: 0in;
}

figcaption {
    font-size: 9pt;
    display: table-caption;
    caption-side: bottom;
}

ul, ol {
    margin-top: 0pt;
    margin-bottom: 0pt;
}

ul li {
    margin-top: 6pt;
}

ol li {
    margin-top: 12pt;
}

/* Table Elements*/
table {
    page-break-inside: avoid;
}

td {
    padding-right: 6pt;
    padding-left: 6pt;
}

.learningAssessmentbody table {
    border-collapse: collapse;
}
.learningAssessmentbody tr::before {
    content: none;
}

.learningAssessmentbody th, .learningAssessmentbody td {
    border: 1px solid black;
    font-size: 9pt;
    text-align: center;
    padding: 6pt;

    text-indent: 0;
    position: static;
}

.learningAssessmentbody th {
    font-weight: bold;
    background-color: lightgray;
}

/* Assessment Questions */
.learningAssessment {
    counter-reset: question-counter;
}

.lcQuestion2::before {
    counter-increment: question-counter 1;
    content: counter(question-counter) ". ";
}

.lcQuestion2 {
    text-indent: -0.15in; /*moves the first line so that the hanging lines are aligned*/
    position: relative;
    left: 0.15in;
    margin-top: 12pt;
    width: 6.25in;
    page-break-inside: avoid;
}

.lcOpenAnswer2 {
    position: relative;
    left: 12pt;
    font-family: sans-serif;
    font-size: 9pt;
    margin-top: 6pt;
}

/* Student version only*/
.lcOpenAnswer2 {
    display: none;
}

.one-line::after, .two-lines::after, .three-lines::after, .drawing::after {
    display: block;
    content: "";
    width: 100%;
    height: 0.33in;
}

.one-line::after {
    height: 0.33in;
}

.two-lines::after {
    height: 0.67in;
}

.three-lines::after {
    height: 1.00in;
}

.drawing::after {
    height: 3.00in;
}

.simpletable {
    width: 100%;
}

.simpletable td {
    border: none;
    border-bottom: 1px solid black;
    padding-top: 12pt;
}

table.workspace td {
    border: none;
    padding-top: 60pt;
}

caption {
    font-family: serif;
    font-size: 9pt;
    text-align: left;
}

h1 {                                    /* Places document title in the heading */
    string-set: doctitle content();
}

/*Figure and table numbering correction test*/
h1 {
    counter-reset: figurenum tablenum graphnum;
}

.table--title-label, .fig--title-label {
    display: none;
}

figcaption::before {
    counter-increment: figurenum;
    content: "Figure " counter(figurenum) ". ";
}

caption::before {
    counter-increment: tablenum;
    content: "Table " counter(tablenum) ". ";
}

figure.graph figcaption::before {
    counter-increment: graphnum;
    content: "Graph " counter(graphnum) ". ";
}

/*a.xref::before {
    content: "Figure " target-counter(attr(href url), figurenum) " ";
}*/

/* Header and footer */
@page {
    size: letter portrait;
    margin-top: 0.75in;
}

@page:first {
    font-family: arial;
    font-size: 10pt;
    text-transform: uppercase;
    white-space: pre;

    @top-right {
        content: "Name                                                                                           Period                            Date";
        border-bottom: dotted;
        text-align: left;
        vertical-align: bottom;
        margin-bottom: 6pt;
        padding-bottom: 3pt;      
    }
}

@page:right {
    margin-left: 1.25in;
    margin-right: 0.75in;

        @top-right {
        font-family: Arial;
        font-size: 10pt;
        text-transform: uppercase;
        white-space: pre;
        /*content: "{map.title}";*/
        content: string(doctitle);
        border-bottom: dotted;
        vertical-align: bottom;
        margin-bottom: 6pt;
        padding-bottom: 3pt;
        }
    
    @bottom-right-corner {
    content: counter(page);
    text-indent: -0.25in;
    font-family: Arial;
    font-weight: bold;
    vertical-align: top;
    margin-top: 6pt;
    padding-top: 3pt;
    }

    @bottom-right {
        content: "PASCO";
        font-family: Arial;
        font-size: 8pt;
        border-top: dotted;
        vertical-align: top;
        margin-top: 6pt;
        padding-top: 3pt;
        padding-right: 0.5in;
    }
}

@page:left {
    margin-left: 0.75in;
    margin-right: 1.25in;

        @top-left {
        font-family: Arial;
        font-size: 10pt;
        text-transform: uppercase;
        white-space: pre;
        /*content: "{map.title}";*/
        content: string(doctitle);
        border-bottom: dotted;
        vertical-align: bottom;
        margin-bottom: 6pt;
        padding-bottom: 3pt;
    }

        @bottom-left {
        content: "PASCO";
        font-family: Arial;
        font-size: 8pt;
        border-top: dotted;
        vertical-align: top;
        margin-top: 6pt;
        padding-top: 3pt;
        padding-left: 0.5in;
    }

        @bottom-left-corner {
    content: counter(page);
    font-family: Arial;
    font-weight: bold;
    vertical-align: top;
    margin-top: 6pt;
    padding-top: 3pt;
    margin-right: -0.25in;
    }
}

/*SPECIALIZED STYLES*/
article.materials ul {
    column-count: 2;
}
article.materials li {
    margin-top: 2pt;
    margin-bottom: 2pt;
}

article.data-collection .lcQuestion2::before {
    content: none;
}
article.data-collection .lcQuestion2 {
    text-indent: 0in; /*moves the first line so that the hanging lines are aligned*/
    position: static;
    margin-top: 12pt;
    width: initial;
}
article.data-collection .lcQuestion2 figcaption {
    caption-side: top;
}

/* Tech Support Style */
.tech_support {
    break-inside: avoid;
}
.tech_support caption {
  display: none;
}
.tech_support td, pre {
    font: 10pt serif;
}
.tech_support td {
  vertical-align: top;
  padding: 0.3em;
  border: none;
}
.tech_support p {
  margin: 0pt;
}